*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(0, 27, 65),rgb(41, 0, 81));
    color: white;
    position: relative;
}
.container{
width: 400px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(235, 0 , 235, 0.11);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(40px);

}
.container::before{
    content: '';
    background: red;
    height: 100px;
    width: 100px;
    left: -50px;
    position: absolute;
    top: -50px;
    border-radius: 20px;
    z-index: -1;
}
.container::after{
    content: '';
    background: #ffe142;
    height: 100px;
    width: 100px;
    right: -50px;
    position: absolute;
    bottom: -30px;
    border-radius: 50%;
    z-index: -1;

}
.clock span{
    font-size: 4pc;
    width: 70px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    
    font-size: 13px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINUTES';
}
#sec::after{
    content: 'SECONDS';
}
